footer {
  width: 100%;
  height: 20.5rem;

  background-color: #726464;
  color: white;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

footer > section {
  width: 20%;
  height: 80%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* transizione per un effetto hover/mouseover/mouseleave fluido

NON FA AL CASO MIO */
/* footer > section .logo,
footer > section picture,
footer > section img  {
  transition: all 1s ease;
} */

footer > section:first-child {
  flex-basis: 30%;
}

footer > section > figure {
  align-items: center;
}

footer + section {
  text-align: center;
}

footer + section > p {
  text-shadow: 5px 4px 4px #72b8da;
}

footer figcaption {
  font-weight: 600;
  color: black;
}

figcaption + p {
  font-weight: 300;
}

.logo {
  width: 114px;
  border-radius: 50%;
}

#logo-gh-oneline {
  background-color: white;
  border-radius: 50%;
  padding: 2.8%;
}

#sja {
  border-radius: 0;
  width: 200px;
}

#sky-logo {
  width: 120%;
}

#sky-logo:hover {
  box-shadow: inset 0px -15px 20px 11px #72b8da;
}
