<div>
  <!-- Link'hair from Zelda -->
  <figure>
    <img
      src="https://i.ytimg.com/vi/dfzIA3hIPqo/maxresdefault.jpg"
      alt="Side profile view of the Legend Of Zelda - Link hair"
    />
    <figcaption>
      video Cover pic by YouTube user
      <a href="https://www.youtube.com/@ToyzGamingSky">ToyGaming</a> blog.
    </figcaption>
  </figure>

  <!-- Link's ocarina from Zelda -->
  <figure>
    <img
      src="https://static.wikia.nocookie.net/sky-children-of-the-light/images/4/41/Vessel-flute-Ocarina-Nintendo-IAP.png/"
      alt="Legend Of Zelda - Ocarina"
    />
    <figcaption>
      "Vessel Flute" AKA <strong>Ocarina</strong> -
      <a
        href="https://sky-children-of-the-light.fandom.com/wiki/Sky_for_Nintendo_Switch#Vessel_Flute"
        >Sky CoTL Wiki</a
      >
    </figcaption>
  </figure>
</div>
