<div *ngIf="!tidy">
  <!-- esempio di Direttiva `*ngIf` -->
  <div *ngIf="isOpen" class="container d-flexs">È aperto!</div>
  <div *ngIf="!isOpen" class="container d-flexs">È CHIUSO!</div>

  <button (click)="isOpen = !isOpen" class="mx-5">Cambia valore</button>
  <h2 class="container d-flexs">il valore della prop isOpen è {{ isOpen }}</h2>

  <!-- esempio di Direttiva `*ngFor` -->
  <div *ngFor="let num of numbers" class="mx-5">
    <p>{{ num }}</p>
  </div>

  <div class="container">{{ stringa }}</div>
</div>

<div *ngIf="tidy">
  <!-- Red split-button -->
  <div class="btn-group">
    <button type="button" class="btn btn-danger">Action</button>
    <button
      type="button"
      class="btn btn-danger dropdown-toggle dropdown-toggle-split"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>

  <!-- Green split-button -->
  <div class="btn-group">
    <button type="button" class="btn btn-success">Action</button>
    <button
      type="button"
      class="btn btn-success dropdown-toggle dropdown-toggle-split"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>

  <!-- Blue split-button -->
  <div class="btn-group">
    <button type="button" class="btn btn-primary">Action</button>
    <button
      type="button"
      class="btn btn-primary dropdown-toggle dropdown-toggle-split"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider" /></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </div>

  <hr />

  <!-- section for 4 nav-tabs -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
  </ul>

  <!-- My dear Sky -->
  <h2 class="">A little Sky carousel</h2>
  <div
    id="carouselExample"
    class="carousel slide"
    data-bs-ride="carousel slide"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://play-lh.googleusercontent.com/jDjTGJTGen9CClH8w3EAo6c3SehgGCEqSSovBCeMy-HwL2u7u5LyjUc4lAyfp_BtEGM=w2560-h1440"
          class="d-block w-100"
          alt="Sky COTL screenshot - skykid offering hand to spectator"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://play-lh.googleusercontent.com/53Gt6JSEgimzjBw2_yOgFnftR5tDAcEXjpbAeVGzMJMq1s3whv-HF8TSu14ozeFjifc=w2560-h1440"
          class="d-block w-100"
          alt="Sky COTL screenshot - Dawn Temple in all its splendor"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://play-lh.googleusercontent.com/m9ghiMKZmUwcROE9tqNVb_ZxlEoXkWY2AohSVz0P70YSgt_mQpYVj4Vgv3UXvDpO_0M=w2560-h1440"
          class="d-block w-100"
          alt="Sky COTL screenshot - Valley of Thriump flying scene"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://play-lh.googleusercontent.com/5n6VxQrTYHnX6I8hy-F6eNSnW3EpLdr32U8xRFh8pheIFFCauhR_KwNQ3kBHQSE0WlA=w2560-h1440"
          class="d-block w-100"
          alt="Sky COTL screenshot - Sanctuary Islands, an escape from daily civilization"
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://assets1.ignimgs.com/2019/08/27/sky-children-1566939583880.jpeg"
          class="d-block w-100"
          alt="Sky COTL screenshot - skykid flying, holding hands, together"
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
