#carouselExample {
  width: 79.0625rem;
  min-height: 22.6056rem;

  background-image: url(https://cdn-icons-png.flaticon.com/512/7952/7952248.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#carouselExample {
  width: auto;
}

#sixRealms {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 61.875rem;
  margin: auto;
}

#sixRealms .btn-group {
  width: 6.3675rem;
}

span.carousel-control-next-icon,
span.carousel-control-prev-icon {
  background-color: black !important;
  border-radius: 36% !important;
}
