<!-- Prova preliminari in classe -->
<app-navbar></app-navbar>

<div class="container d-flexs alert alert-secondary">
  <h1>Sky - Homage to Sky Children of The Light</h1>
  <p>
    <span *ngIf="destroy">🏚</span>
    <span *ngIf="!destroy">🏠</span>
    Work In Project
    <button (click)="destroy = !destroy" class="mx-5">Muratori</button>
  </p>
</div>

<app-prova-impiegato></app-prova-impiegato>

<!-- <app-navbar></app-navbar> -->
<app-home></app-home>

<hr />

<!-- provare a far funzionare un OnDestroy/OnChanges -->

<app-footer></app-footer>
